@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div class="container__small">
        <div class="table">
            <form method="post" action="">
                <div class="table-content">
                    <div class="table-row">
                        <div class="table-data">
                            <div class="table-data">
                                <p>Enter Order:</p>
                            </div>
                            <div class="table-data">
                                <div class="table-data">
                                    <ul>
                                        @foreach (var order in ViewBag.Orders)
                                        {
                                            <span>@order.Name</span>
                                            <span>@order.Id</span>
                                            <span>
                                                <input type="radio" value="@order.Id" name="Id_Order" />
                                            </span>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="table-data">
                                <p>Enter Product:</p>
                            </div>
                            <div class="table-data">
                                <ul>
                                    @foreach (var product in ViewBag.Products)
                                    {
                                        <span>@product.Name</span>
                                        <span>@product.Id</span>
                                        <span >
                                            <input type="radio" value="@product.Id" name="Id_Product" />
                                        </span>
                                    }
                                </ul>
                            </div>
                            <div class="table-data">
                                <p>Enter quantity:</p>
                            </div>
                            <div class="table-data">
                                <input type="text" name="Quantity" />
                            </div>
                            <div class="table-data">
                                <input type="submit" value="Create" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>